<%= render 'navbar' %>
<div class="container">
<div class="title">
      <h1 class="">your lists</h1>
      <%= link_to "Create new list", new_list_path, class: 'create-btn' %>
</div>
      <div class="cards">
        <% @lists.each do |list| %>
        <div class="grid-card" style="width: 18rem;">
          <% if list.photos.attached? %>
            <%= cl_image_tag list.photos[0].key, height: 300, width: 400, crop: :fill, class: 'card-img-top' %>
          <% end %>
            <h2><%= link_to list.name, list_path(list.id), class: 'list-link title' %></h2>
        </div>
      <% end %>
      </div>
    </div>
</div>
